@import '../../../vars.scss';

.name, .title {
  font-size: 3.2rem;
  text-align: left;
}
.name {
  font-weight: 500;
}
.title {
  font-weight: 300;
  color: $yellow;
}

@media (min-width: 600px) {
  .name, .title {
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  .name, .title {
    font-size: 7.2rem;
    text-align: right;
  }
}