.image {
  width: 36px;
  filter: brightness(0) saturate(100%) invert(83%) sepia(49%) saturate(959%) hue-rotate(360deg) brightness(105%) contrast(102%);
}

@media (min-width: 600px) {
  .image {
    width: 48px;
  }
}

@media (min-width: 900px) {
  .image {
    width: 64px;
  }
}