.container {
  text-align: center;
  flex: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 36px 0;
}

@media (min-width: 900px) {
  .container {
    padding: 72px 0;
  }
}