.container {
  text-align: center;
  flex: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 72px 0 36px 0;
  gap: 10dvh;
}

@media (min-width: 900px) {
  .container {
    padding: 96px 0 72px 0; 
  }
}