* {
  font-family: 'Montserrat', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
}
.App {
  background-color: black;
  color: white;
  position: relative;
}
.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}