@import './vars.scss';

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
html, body {
  margin: 0;
  padding: 0;
}
.App {
  color: white;
  position: relative;
  box-sizing: border-box;
}
.hero {
  height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0 2.4rem;
}
.title {
  margin: 0;
  font-weight: 700;
  text-align: right;
  padding: 12px 24px;
  border: 2px solid $yellow;
}

@media (min-width: 600px) {
  .hero {
    padding: 0 48px;
  }
}

@media (min-width: 900px) {
  .hero {
    padding: 0 128px;
  }
  .title {
    font-size: 4.8rem;
    text-align: left;
    padding: 24px 48px;
    border: 0;
    border-bottom: 2px solid $yellow;
  }
}