* {
  font-family: 'Montserrat', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
}
.App {
  background-color: black;
  color: white;
  position: relative;
  padding: 0 24px;
  box-sizing: border-box;
}
.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .App {
    padding: 0 48px;
  }
}

@media (min-width: 900px) {
  .App {
    padding: 0 128px;
  }
}